.particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    z-index:-1;
}

.particles-container.dark{
    background: linear-gradient(to bottom, #080808, #0f0f0f);
}

.particle {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    position: absolute;
    animation: flotar 5s linear infinite;
    opacity: 0;
}


.particle:nth-child(-n+5) {
    border: 3px solid #2a2aff;
    animation-delay: 0s;
}

.particle:nth-child(n+6):nth-child(-n+10) {
    border: 3px solid #36ac36;
    animation-delay: 1s;
}

.particle:nth-child(n+11) {
    border: 3px solid #ffa600;
    animation-delay: 2s;
}

/* Posiciones de las partículas */
.particle:nth-child(1) { left: 10%; top: 20%; transform: rotate(45deg); }
.particle:nth-child(2) { left: 70%; top: 10%; transform: rotate(90deg); }
.particle:nth-child(3) { left: 30%; top: 50%; transform: rotate(135deg); }
.particle:nth-child(4) { left: 90%; top: 70%; transform: rotate(180deg); }
.particle:nth-child(5) { left: 50%; top: 90%; transform: rotate(225deg); }
.particle:nth-child(6) { left: 20%; top: 30%; transform: rotate(270deg); }
.particle:nth-child(7) { left: 80%; top: 60%; transform: rotate(315deg); }
.particle:nth-child(8) { left: 40%; top: 80%; transform: rotate(360deg); }
.particle:nth-child(9) { left: 60%; top: 40%; transform: rotate(45deg); }
.particle:nth-child(10) { left: 15%; top: 15%; transform: rotate(90deg); }
.particle:nth-child(11) { left: 75%; top: 25%; transform: rotate(135deg); }
.particle:nth-child(12) { left: 25%; top: 75%; transform: rotate(180deg); }
.particle:nth-child(13) { left: 85%; top: 45%; transform: rotate(225deg); }
.particle:nth-child(14) { left: 15%; top: 85%; transform: rotate(270deg); }
.particle:nth-child(15) { left: 55%; top: 55%; transform: rotate(315deg); }



@keyframes flotar {
    0% { transform: translateY(0) scale(1) rotate(0deg); opacity: 0.2;  }
    33% { transform: translateY(-50px) scale(1.1) rotate(30deg); opacity: 0.5;  }
    66% { transform: translateY(-75px) scale(1.15) rotate(60deg); opacity: 0.8;  }
    100% { transform: translateY(-100px) scale(1.2) rotate(90deg); opacity: 0;  }
}