<ion-content [inert]="isLoading">
  <div class="registro_container">
    
  <form [formGroup]="formulario" (ngSubmit)="send()" class="registro-form">
    <h2><span>C</span>LASH <span>T</span>ECH</h2>
    <h3>Registrate!</h3>
    <div class="form-group">
      <input 
        type="text" 
        formControlName="name" 
        placeholder="Nombre"
        [class.is-invalid]="formulario.get('name')?.errors && formulario.get('name')?.touched">
      <div class="error-message" *ngIf="formulario.get('name')?.errors?.['required'] && formulario.get('name')?.touched">
        El nombre es requerido
      </div>
    </div>
  
    <div class="form-group">
      <input 
        type="text" 
        formControlName="apellidos" 
        placeholder="Apellidos"
        [class.is-invalid]="formulario.get('apellidos')?.errors && formulario.get('apellidos')?.touched">
      <div class="error-message" *ngIf="formulario.get('apellidos')?.errors?.['required'] && formulario.get('apellidos')?.touched">
        Los apellidos son requeridos
      </div>
    </div>
  
    <div class="form-group">
      <input 
        type="text" 
        formControlName="nickname" 
        placeholder="Nombre de usuario"
        [class.is-invalid]="formulario.get('nickname')?.errors && formulario.get('nickname')?.touched">
      <div class="error-message" *ngIf="formulario.get('nickname')?.errors?.['required'] && formulario.get('nickname')?.touched">
        El nombre de usuario es requerido
      </div>
    </div>
  
    <div class="form-group">
      <input 
        type="email" 
        formControlName="email" 
        placeholder="Email"
        [class.is-invalid]="formulario.get('email')?.errors && formulario.get('email')?.touched">
      <div class="error-message" *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched">
        El email es requerido
      </div>
      <div class="error-message" *ngIf="formulario.get('email')?.errors?.['email'] && formulario.get('email')?.touched">
        El email no es válido
      </div>
    </div>
  
    <div class="form-group">
      <input 
        type="password" 
        formControlName="password" 
        placeholder="Contraseña"
        [class.is-invalid]="formulario.get('password')?.errors && formulario.get('password')?.touched">
      <div class="error-message" *ngIf="formulario.get('password')?.errors?.['required'] && formulario.get('password')?.touched">
        La contraseña es requerida
      </div>
      <div class="error-message pattern" *ngIf="formulario.get('password')?.errors?.['pattern'] && formulario.get('password')?.touched">
        La contraseña debe contener al menos una mayúscula,una minúscula y un número
      </div>
    </div>
  
    <div class="form-group">
      <input 
        type="password" 
        formControlName="passwordConfirmacion" 
        placeholder="Confirmar contraseña"
        [class.is-invalid]="passwordMismatch">
      <div class="error-message" *ngIf="passwordMismatch">
        Las contraseñas no coinciden
      </div>
    </div>
  
    <div class="form-buttons" [inert]="isLoading">
      <button class="register" type="submit" [disabled]="formulario.invalid">Registrar</button>
      <button class="login" type="button" (click)="navigateTo()">Login</button>
    </div>
  </form>
  <app-spinner [isLoading]="isLoading"></app-spinner>

  </div>
</ion-content>
